<h2>Track your employees!</h2>

<h2>Would you care to add a division at this time</h2>

<form action="/" method="post">
  <label for="division_name">Name?</label>
  <input id="division_name" name="division_name" type="text">

  <button type="submit">Submit!</button>
</form>


<h3>Here is a list of your divisions!!!</h3>
<ul>
  <% @divisions.each do |division| %>
    <li>
      <a href="division/<%= division.id() %>"><%= division.name %></a>
    </li>
  <% end %>
</ul>
